*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1vh;
    padding: 2vh;
}

.grid :nth-child(1){
    grid-row: span 100;
}


.grid div{
    background-color: brown;
    color: aqua;
    text-align: center;
    padding: 2vh;
    font-size: 2rem;
}



.hello{
    display: grid;
    height: 600px;
    margin: 0px auto 20px auto;
    max-width: 900px;
    background-color: violet;
}

.hello h1{
   color: aliceblue;
    font-size: 2rem;
    margin: auto;
}

.txt{
    background-color: tomato;
    color: aliceblue;
    display: grid;
    grid-template-columns: minmax(auto, 900px);
    line-height: 1.7;
    padding: 20px;
    justify-content: center;
}

.photo{
    display: grid;
    max-width: 700px;
    margin: 20px auto;
 }

.photo img{
    grid-column: 1;
    grid-row: 1;
    max-width: 100%;
    display: block;
}

.ptxt{
    grid-column: 1;
    grid-row: 1;
    color: antiquewhite;
    background-color: rgba(128, 128, 128, 0.884);
    padding: 20px;
    line-height: 1.5;
    font-size: 0.85rem;
    align-self: end;
}


.layout{
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-template-areas:
    "headingarea headingarea"
    "s ml"
    "s footer";
}

.heading{
    background-color: rgba(128, 128, 128, 0.884);
    color: #fff;
    padding: 20px;
    grid-area: headingarea;
}

.sidebar{
    grid-area: s;
    background-color: #ddd;
    font-size: 0.8rem;
}

.ml{
    grid-area: ml;
    padding: 20px;
    line-height: 1.7;
}

.footer{
    grid-area: footer;
    background-color: rgba(128, 128, 128, 0.884);
    color: #fff;
    padding: 15px;
    align-items: end;
}

.respons{
    max-width: 1100px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
}

.respons div{
    background-color: rgb(72, 192, 82);
    padding: 20px;
    color: rgb(248, 240, 240);
    font-size: 0.77rem;
    line-height: 1.7;
    overflow: auto;
}

.{
    max-width: 45%;
    justify-items: center;
    align-items: center;
}

.art{
    background-color: lightblue;
    height: 100vh;
    display: grid;
    grid-template-columns: 20px 1fr 1fr 1fr 20px;
    grid-template-rows: 20px 1fr 1fr 1fr 20px;

}

.art-img{
    opacity: 0.0;
    background: url("./slider-01.jpg") center center no-repeat;
    background-size: cover;
}

.art-txt{
    color: #ddd;
    font-size: 8vh;
    font-weight: bold;
}

.badg{
    display: grid;
    align-self: center;
    justify-self: center;
    grid-column: 4 /5;
    grid-row: 3 / 4;
    background-color: tomato;
    color: white;
    font-size: 2.5vw;
    font-weight: bold;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    transform: rotate(15deg);
}

.art::before{
    content: "";
    opacity: 0.85;
    border-top: 5px solid tomato;
    border-right: 5px solid tomato;
    grid-column: 4;
    grid-row: 2 / span 3;
}

.art::after{
    content: "";
    opacity: 0.85;
    border-bottom: 5px solid tomato;
    border-left: 5px solid tomato;
    grid-column: 2;
    grid-row: 2 / span 3;

/*
.container{
    height: 100vh;
    width: 100%;
    background-color: gainsboro;
    font-family: sans-serif;
}

.hmenu{
    height: 50px;
    width: 100%;
    background-color: white;
    display: flex;
    position: relative;
}

.hmenu ul{
    display: flex;
    flex-direction: row;
    top: 10px;
    position: relative;
    float: LEFT;
}

.hmenu ul p{
    float: right;
}

.lmenu{
    height: 93vh;
    width: 200px;
    background-color: aliceblue;
}

.dcontent{
    top: 10vh;
    left: 30vh;
    margin: 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.dc1{
    height: 150px;
    width: 200px;
    background-color: blue;
    margin: 10px;
}

.dc2{
    height: 150px;
    width: 200px;
    background-color: blue;
    margin: 10px;
}

.dc3{
    height: 150px;
    width: 200px;
    background-color: blue;
    margin: 10px;
}

*/